.copy_right_footer
  {

   position: fixed;
   color: black;
   bottom: 0;
   width: 100%;
   background-color: aliceblue;
   line-height: 3;
   text-align: center;

  } 
  .lens
  {

   font-size: xx-large;

  }
  .container
  {

     text-align: center; 
     color: darkred;
     margin-top:100px;
     margin-bottom:100px;
     font-size: 50px;

  }